@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

/* VARIABLES */
:root {
    --gap-value: 1rem;
    --base-padding: 1rem;
    --sidebar-bg-clr: rgb(42, 147, 239);
    --sidebar-bg-light-clr: rgba(42, 147, 239, 0.776);
    --light-clr: rgb(255 255 255);
    --main-area-bg-clr: rgb(228, 234, 239);
    --box-shadow-clr-1: rgb(171, 178, 184);
    --light-paragraph-clr: rgb(105, 105, 105);
}

/* GENERAL FONTS */
body {
    font-family: Roboto, 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000;
}

/* PAGE LAYOUT */
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
    width: 80vw;
    margin: 0 auto;
}

header {
    grid-row: 1;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    padding: var(--base-padding) 2rem;
}

.sidebar {
    grid-row: 1 / 4;
    grid-column: 1;
}

/* HEADER LAYOUT */
.search-notification {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--gap-value);
}

.search-notification form {
    display: flex;
    gap: var(--gap-value);
    align-items: center;
}

.search-notification input {
    width: clamp(100px, 30rem, 800px);
}

.user-login {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

header>div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--base-padding);
}

.project-actions {
    display: flex;
    gap: var(--gap-value);
}

.user-greeting {
    display: flex;
    align-items: center;
    gap: var(--gap-value);
}

.user-greeting>p span {
    display: block;
}

/* SIDEBAR LAYOUT */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4rem;
    padding-left: var(--base-padding);
    padding-top: var(--base-padding);
}

.dashboard {
    display: flex;
    gap: var(--gap-value);
    align-items: center;
}

.sidebar ul {
    padding-left: 0.5rem;
}

.sidebar ul li {
    margin: 1.5rem 0;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: var(--gap-value)
}


/* MAIN */
.main-area {
    display: flex;
    padding: var(--base-padding);
    justify-content: space-between;
}

/* PROJECTS SECTION LAYOUT */
.card-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.projects>h3 {
    grid-row: 1;
    grid-column: 1 / -1;
    padding: var(--base-padding) 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card>.card-actions {
    margin-top: 1.5rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
}


/* ASIDE */
aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 1.4;
    padding: 0 var(--base-padding);
}

.announcements>h3 {
    padding: var(--base-padding) 0;
}

/* FOOTER */
footer {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

/* SECTION STYLING */

/* SIDE BAR */
.sidebar {
    color: var(--light-clr);
    background-color: var(--sidebar-bg-clr);
    font-weight: bold;
}

.dash-image {
    fill: var(--light-clr);
}

.dashboard>h2 {
    font-size: calc(1rem + 70%);
    padding-right: var(--base-padding);
}

.sidebar li {
    font-size: 1.2rem;
    padding-right: var(--base-padding);
}

.sidebar a {
    text-decoration: none;
    color: inherit;
}

.sidebar a>svg {
    width: 1.5rem;
    fill: var(--light-clr);
}

/* HEADER */
header {
    background-color: var(--light-clr);
    box-shadow: 0 0.2rem 2px var(--box-shadow-clr-1);
    position: relative;
}

.search-notification form button {
    width: 1.5rem;
    padding: 0;
    background-color: transparent;
    border: none;
}

.search-notification form button:focus, .search-notification form button:hover {
    cursor: pointer;
}

.search-notification form input {
    font-size: 1rem;
    background-color: var(--main-area-bg-clr);
    border-radius: 15px;
    border: none;
    padding: 0.5rem;
}

.notification-bell {
    background-color: transparent;
    border: none;
    width: 1.5rem;
}

.notification-bell:hover, .notification-bell:focus {
    cursor: pointer;
}

.avatar-img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.user-name {
    font-weight: bold;
    font-size: 1.1rem;
}

.project-actions button {
    width: 5rem;
    height: 2rem;
    border-radius: 20px;
    border: none;
    background-color: var(--sidebar-bg-clr);
    color: var(--light-clr);
    font-weight: bold;
}

.project-actions button:hover, 
.project-actions button:focus {
    background-color: var(--sidebar-bg-light-clr);
    cursor: pointer;
}

.user-greeting img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

.user-greeting>p {
    font-weight: bold;
    font-size: 0.9rem;
}

.user-greeting>p span {
    font-size: 1.3rem;
}

/* MAIN AREA */
.main-area {
    background-color: var(--main-area-bg-clr);
}

.card {
    background-color: var(--light-clr);
    border: none;
    border-radius: 10px;
    padding: 2rem;
    border-left: 10px solid rgb(253, 180, 46);
    box-shadow: 0 3px 3px var(--box-shadow-clr-1);
    width: 100%;
}

.card h3 {
    font-size: 1.1rem;
}

.card p {
    color: var(--light-paragraph-clr);
    font-size: 0.9rem;
}

.card>.card-actions svg {
    width: 1.5rem;
}

.announcements>div {
    border: none;
    border-radius: 7px;
    background-color: var(--light-clr);
    padding: var(--base-padding) 2rem;
    box-shadow: 0 3px 3px var(--box-shadow-clr-1);
}

.announcements article {
    margin: 1rem 0;
}

.announcements article h4 {
    font-size: 0.9rem;
}

.announcements article p {
    font-size: .8rem;
    color: var(--light-paragraph-clr);
}

.trending>h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.trending-box {
    background-color: var(--light-clr);
    border-radius: 7px;
    border: none;
    padding: var(--base-padding) 2rem;
    box-shadow: 0 3px 3px var(--box-shadow-clr-1);
}

.trending-user {
    display: flex;
    align-items: center;
    gap: var(--gap-value);
    padding: 0.5rem 0;
}

.trending-user>p {
    font-size: 0.8rem;
}
.trending-user>p span {
    display: block;
    color: rgb(0, 0, 0, 0.5)
}

footer {
    background-color: var(--main-area-bg-clr);
    text-align: center;
    font-size: 0.9rem;
    letter-spacing: 0.1ch;
    padding: 2rem 0 var(--base-padding) 0;
}