@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* CSS RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

/* GENERAL FONTS */
body {
    font-family: Roboto, 'Segoe UI', system-ui, -apple-system, BlinkMacSystemFont, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #000;
}

/* PAGE LAYOUT */
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    min-height: 100vh;
    width: 80vw;
    margin: 0 auto;
}

header {
    grid-row: 1;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1;
}

/* HEADER LAYOUT */
.search-notification {
    display: flex;
    justify-content: space-between;
}

.search-notification form {
    display: flex;
    gap: 1rem;
}

.search-notification input {
    width: clamp(100px, 30rem, 800px);
}

.user-login {
    display: flex;
    gap: 1rem;
}

.avatar-img {
    width: 1rem;
    height: 100%;
    background-color: antiquewhite;
}

.notification {
    width: 1rem;
    height: 100%;
    background-color: orange;
}

header>div:last-child {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.project-actions {
    display: flex;
    gap: 1rem;
}

/* SIDEBAR LAYOUT */
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 4rem;
    padding-left: 1rem;
    padding-top: 1rem;
}

.dashboard {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.sidebar ul {
    padding-left: 0.5rem;
}

.sidebar ul li {
    margin: 1.5rem 0;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    gap: 1rem;
}


/* MAIN */
.main-area {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

/* PROJECTS SECTION LAYOUT */
.card-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
}

.projects>h3 {
    grid-row: 1;
    grid-column: 1 / -1;
    padding: 1rem 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card>.card-actions {
    margin-top: 1.5rem;
    display: flex;
    justify-content: end;
    gap: 2rem;
}


/* ASIDE */
aside {
    display: flex;
    flex-direction: column;
    flex-shrink: 1.4;
    padding: 0 1rem;
}

.announcements>h3 {
    padding: 1rem 0;
}

/* SECTION STYLING */

/* SIDE BAR */
.sidebar {
    color: #fff;
    background-color: rgb(42, 147, 239);
    font-weight: bold;
}

.dash-image {
    fill: #fff;
}

.dashboard>h2 {
    font-size: calc(1rem + 70%);
    padding-right: 1rem;
}

.sidebar li {
    font-size: 1.2rem;
    padding-right: 1rem;
}

.sidebar a {
    text-decoration: none;
    color: inherit;
}

.sidebar a>svg {
    width: 1.5rem;
    fill: #fff;
}

/* HEADER */
header {
    background-color: #fff;
    box-shadow: 0 0.2rem 2px rgb(171, 178, 184);
    position: relative;
}

.search-notification form input {
    background-color: rgb(228, 234, 239);
}

/* MAIN AREA */
.main-area {
    background-color: rgb(228, 234, 239);
}

.card {
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 2rem;
    border-left: 10px solid rgb(253, 180, 46);
    box-shadow: 0 3px 3px rgb(171, 178, 184);
    width: 100%;
}

.card h3 {
    font-size: 1.1rem;
}

.card p {
    color: rgb(105, 105, 105);
    font-size: 0.9rem;
}

.card>.card-actions svg {
    width: 1.5rem;
}

.announcements>div {
    border: none;
    border-radius: 7px;
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0 3px 3px rgb(171, 178, 184);
}

.announcements article {
    margin: 1rem 0;
}

.announcements article h4 {
    font-size: 0.9rem;
}

.announcements article p {
    font-size: .8rem;
    color: rgb(105, 105, 105);
}

.trending>h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.trending-box {
    background-color: #fff;
    border-radius: 7px;
    border: none;
    box-shadow: 0 3px 3px rgb(171, 178, 184);
    height: 100%;
    width: 2rem;
}